<a href="https://colab.research.google.com/github/DataBoss62/BASICS-TUTORIAL/blob/main/Choosing_the_right_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Machine Learning 
### Project: Model Selection

# Abstract

# Part 1: Business and Data Understanding

### Q. Define the problem domain

### Q. Identify candidate questions for your machine learning project

### Q. Identify a suitable dataset for your canditate question(s)

Go have a look at any of these websites:

* https://www.kaggle.com/datasets 
* https://datasetsearch.research.google.com/
* https://data.gov.uk/

Find an interesting looking data set related to your problem domain and get a copy of it

In [116]:
import pandas as pd
data = pd.read_csv('city-of-london-stop-and-search.csv', header=0 )

### Q. Generate a descriptive statistics report for the columns in your dataset

In [ ]:
data.head()
data.tail()

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4679 entries, 0 to 4678
Data columns (total 15 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Type                                      4679 non-null   object
 1   Date                                      4679 non-null   object
 2   Part of a policing operation              35 non-null     object
 3   Policing operation                        35 non-null     object
 4   Latitude                                  2398 non-null   object
 5   Longitude                                 2398 non-null   object
 6   Gender                                    4620 non-null   object
 7   Age range                                 4394 non-null   object
 8   Self-defined ethnicity                    4423 non-null   object
 9   Officer-defined ethnicity                 4415 non-null   object
 10  Legislation                               4635 non-null   object
 11  Object of search                          4587 non-null   object
 12  Outcome                                   4411 non-null   object
 13  Outcome linked to object of search        4169 non-null   object
 14  Removal of more than just outer clothing  4602 non-null   object
dtypes: object(15)
memory usage: 548.4+ KB

In [119]:
# cardinality - count of unique values in a column
for cname in data.columns:
  print(cname + " : " + str(data[cname].value_counts().count()))

Type : 4
Date : 4447
Part of a policing operation : 1
Policing operation : 1
Latitude : 483
Longitude : 488
Gender : 4
Age range : 5
Self-defined ethnicity : 35
Officer-defined ethnicity : 5
Legislation : 9
Object of search : 12
Outcome : 16
Outcome linked to object of search : 3
Removal of more than just outer clothing : 3

In [123]:
data.describe()
#print(data.shape)

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
count,4679,4679,35,35,2398,2398,4620,4394,4423,4415,4635,4587,4411,4169,4602
unique,4,4447,1,1,483,488,4,5,35,5,9,12,16,3,3
top,Person search,Date,Part of a policing operation,Policing operation,51.527286,-0.215815,Male,18-24,Other ethnic group - Not stated,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,False,False
freq,3325,35,35,35,126,126,4161,1642,988,2326,2244,2220,1773,2734,4440

# Part 2: Data Preparation

### Q. Discuss the following types of missing data and how they would be handled in reference to your dataset where applicable.
*	Missing completely at random (MCAR)
*	Missing at random (MAR)
*	Missing Not at Random (MNAR)

In [124]:
# 4679 entries in Total
#  latitude and longitude data is missing  483/488  out of 4679   so drop columns
#  drop policing and part of policing columns by filtering out.

df1 = data.dropna(how = 'all')   #first drop all rows that contain no data

#df2 = data.drop(data.index[data['Date'] == "Date"])  # remove rows containing 'Date' in Date column
#df.drop(df.index[df['Col1'] == 0], inplace=True)

#df2 = data.loc[:, ['Type', 'Date', 'Gender', 'Age range', 'Self-defined ethnicity', 'Officer-defined ethnicity', 'Legislation', 'Object of search', 'Outcome', 'Outcome linked to object of search', ]]

In [ ]:
df1.shape

In [ ]:
df1.describe()

In [102]:
#remove all rows where they are all nulls
#df2 = df1.dropna(how='all')

# fill Outcome linked ... column with Falses in place of nulls
df_missing = df1['Outcome linked to object of search'].fillna(False)
df1['Outcome linked to object of search']= df_missing
df1.head()

,Type,Date,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search
0,Person search,2016-10-01T13:16:00+00:00,Male,18-24,Black or Black British - African (B2),White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Offender given drugs possession warning,True
1,Person search,2016-10-01T22:30:00+00:00,Male,25-34,White - Any other White ethnic background (W9),White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Nothing found - no further action,False
2,Person and Vehicle search,2016-10-02T00:15:00+00:00,Male,18-24,Black or Black British - African (B2),Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Suspect summonsed to court,False
3,Person and Vehicle search,2016-10-02T00:15:00+00:00,Female,18-24,Black or Black British - African (B2),Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Nothing found - no further action,False
4,Person and Vehicle search,2016-10-04T13:05:00+00:00,Male,18-24,White - Any other White ethnic background (W9),White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Suspect arrested,True

In [ ]:
from pandas.core.dtypes.missing import isna

In [ ]:
#

In [ ]:
#conv = lambda t : t.split('T')[0]
#df2['date_year'] = df2['Date'].apply(conv)
#df2['date_year'] = pd.to_datetime(df2['date_year'], format= '%Y')
#conv = lambda x : if

# Part 3: Model Selection

In [ ]:
[16:00] Shantanu Pandey (Guest)
typekeys = data['Type'].value_counts().keys()

[16:01] Shantanu Pandey (Guest)
type_dict = dict()for i,j in enumerate(typekeys):type_dict[i] = j

[16:02] Shantanu Pandey (Guest)
type_conv = lambda type: type_dict[type] 

[16:02] Shantanu Pandey (Guest)
data['Type'] = data['Type'].apply(type_conv) 

[16:03] Shantanu Pandey (Guest)
new code

[16:04] Shantanu Pandey (Guest)
allcols = [ 'type', 'Gender', 'Age range'..]for col in allcols:typekeys = data[col].value_counts().keys()
type_dict = dict()
for i,j in enumerate(typekeys):
-type_dict[i] = jtype_conv = lambda type: type_dict[type] data[col] = data[col].apply(type_conv)

### Q. Use the cheat sheet below to choose the algorithm/estimator suitable for building a model to address your candidate question(s)

* https://scikit-learn.org/stable/tutorial/machine_learning_map/

# Part 4: Model Evaluation

### Q. Identify which of the statistical measures below are suitable for the evaluation of your model.

Classification Metrics:
* Accuracy
* Precision
* Recall
* F1 Score

Regression Metrics:
    
* Mean absolute error (MAE)
* Root mean squared error (RMSE)
* Relative absolute error (RAE)
* Relative squared error (RSE)
* Mean Zero One Error (MZOE)
* Coefficient of determination

# Part 5: Stretch - Model Deployment

### Q. Evaluate the open-source app framework for Machine Learning model deployment below in your own time.

* https://streamlit.io/