<a href="https://colab.research.google.com/github/DataBoss62/BASICS-TUTORIAL/blob/main/Python_Loopy_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
animals = ['rabbit', 'pangolin', 'platypus']
numbers = [1,2,3,4]

In [3]:
for animal in animals:
  print(animal, end= " ")

rabbit pangolin platypus

In [4]:
for num in numbers:
  print(num, end=' ')

1 2 3 4

In [5]:
firsttennums = range(10)
for num in firsttennums:
  print(num, end=' ')

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(10):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [7]:
for i in range(10):
  # print some space here
  for sp in range(10-i):
    print(' ', end='')
  for j in range(i):
    print(i, end=' ')
  print()

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5
    6 6 6 6 6 6
   7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9 9

In [8]:
prose = {
    "William Wordsworth": "poem 123 ",
    "Shakespeare": "Merchant of Venice",
    3: "Illiad",
    4 : "Romeo and Juliet",
    False: "Poseidon and Hades are pretty good friends"
}

In [10]:
prose

{3: 'Illiad',
 4: 'Romeo and Juliet',
 False: 'Poseidon and Hades are pretty good friends',
 'Shakespeare': 'Merchant of Venice',
 'William Wordsworth': 'poem 123 '}

In [11]:
for randomKey,randomValue in prose.items():
  print('random key =' + str(randomKey) , end=" ")
  print('random value =' + str(randomValue))

random key =William Wordsworth random value =poem 123
random key =Shakespeare random value =Merchant of Venice
random key =3 random value =Illiad
random key =4 random value =Romeo and Juliet
random key =False random value =Poseidon and Hades are pretty good friends

In [12]:
def randomfn(potato):
  for tomato,peas in potato.items():
    print(tomato, peas)

In [13]:
randomfn(prose)

William Wordsworth poem 123
Shakespeare Merchant of Venice
3 Illiad
4 Romeo and Juliet
False Poseidon and Hades are pretty good friends

In [14]:
randomfn(animals)

AttributeError: ignored

In [15]:
def randomfn2(potato):
  try:
    for tomato,peas in potato.items():
      print(tomato, peas)
  except:
    print('Are you sure you used a dictionary?')

In [16]:
randomfn2(animals)

Are you sure you used a dictionary?